* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open sans, sans-serif;
}

.container {
    margin-left: 3%;
    margin-right: 3%;
}

span, a, label, button, p{
    font-size: 14px;
}

/* Navbar section */

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 0px #e3e3e3;
    height: 72px;
}

#logo {
    text-decoration: none;
    width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#lang {
    border: 1px solid;
    border-radius: 2px;
    padding: 3px;
    color: #000;
}

.hamburger {
    display: none;
}

header ul {
    display: flex;
}

header ul li a {
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-weight: 700;
    color: #000;
}

header ul li a:hover {
    color: #ca041b;
}

header ul li ul.dropdown {
    background: #08164a;
    display: none;
    position: absolute;
    width: 250px;
}

header ul li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

header ul li {
    list-style: none;
}

header ul.dropdown a{
    display: block;
    color: #fff;
    padding: 10px 24px;
}

#book_discovery_call {
    padding: 10px 30px 10px 30px;
    border-radius: 7px;
    border: none;
    background-color: #ca041b;
    color: #fff;
    cursor: pointer;
}

#form_section {
    margin: 60px auto 0 auto;
    width: 60%;
}

#form_section h1,
#form_section h5,
#form_section p {
    text-align: center;
}

#form_section h1{
    margin: 10px 0px 5px 0px;
}

#form_section h5 {
    color: #ca041b;
    font-weight: 800;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.col_1,
.col_2,
.col_3,
.col_4 {
    width: 50%;
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
}

.col_5 {
    width: 100%;
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 0px;
    border-radius: 18px;
    border: none;
    background-color: #ca041b;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin: 35px 15px 0 15px;
}

#office_section{
    margin-top: 50px;
    background-color: #e3f0f7;
    padding: 50px 0px;
}

#office_section h1{
    margin-bottom: 5px;
}

#office_section > div:first-child{
text-align: center;
}

#locations{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 80px 0px 80px;
    gap: 35px;
}

.location{
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-radius: 10px;
    overflow: hidden;
}

.location_col_2{
    background-color: #fff;
    padding: 25px 20px 40px 20px;
}

.company{
    margin-top: 20px;
}

.address, .email{
    margin-top: 10px;
}

.phone{
    margin-top: 30px;
}

@media (max-width: 991.98px) { 
    span, a, label, button, p{
    font-size: 13px;
    }

    header ul li a{
        padding: 0 5px 0 5px;
    }

    #book_discovery_call{
        padding: 10px 10px 10px 10px;
    }

    #locations{
        grid-template-columns: 1fr;
    }
 }

@media (max-width: 767.98px) {
    .container {
        margin: 0;
    }

    header nav {
        display: block;
        height: auto;
    }

    #logo {
        margin: 10px auto 0 auto;
    }

    .hamburger {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
    }

    .hamburger_line {
        width: 22px;
        height: 4px;
        display: block;
        background-color: #515d60;
    }

    .hamburger_line:not(:first-child) {
        margin-top: 4px;
    }

    header ul {
        display: block;
        background-color: #091233;
        padding-top: 7.5px;
    }

    header ul li {
        padding-bottom: 10px;
    }

    header ul li a {
        color: #fff;
        padding: 10px 15px;
        display: block;
    }

    header ul li ul.dropdown {
        position: unset;
    }

    header ul.dropdown a{
        padding: 10px;
        font-weight: unset;
    }

    .menulist_discoverycall {
        display: none;
    }

    .book_discovery_call_2 {
        background-color: #091233;
        padding: 0 0 7.5px 15px;
    }

    #form_section, #office_section {
        width: 100%;
    }

    .col_1,
    .col_2,
    .col_3,
    .col_4 {
        width: 100%;
    }

    form button {
        width: unset;
        padding: 10px 30px;
        margin-top: 15px;
        /* font-size: 13px; */
    }

    /* label{
        font-size: 13px;
    } */

    #locations{
        margin: 50px 10px 0px 10px;
    }

    .location{
        grid-template-columns: 1fr;
    }
}