* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open sans, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

span,
a,
label,
button,
p {
    font-size: 13px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    box-shadow: 0 1px 0px #e3e3e3;
}

#logo {
    width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 15px auto 0 auto;
}

#lang {
    border: 1px solid;
    border-radius: 2px;
    padding: 3px;
    color: #000;
}

.hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
}

.hamburger_line {
    width: 22px;
    height: 4px;
    display: block;
    background-color: #515d60;
}

.hamburger_line:not(:first-child) {
    margin-top: 4px;
}

.menulist_discoverycall {
    display: none;
}

header ul {
    display: block;
    background-color: #091233;
    padding-top: 7.5px;
}

header ul li {
    padding-bottom: 10px;
}

header ul li a {
    color: #fff;
    padding: 10px 15px;
    display: block;
}

header ul li ul.dropdown {
    position: unset;
}

header ul.dropdown a {
    padding: 10px;
    font-weight: unset;
}

header ul li ul.dropdown {
    background: #08164a;
    display: none;
    position: absolute;
    width: 250px;
}

header ul li:hover ul.dropdown {
    display: block;
}

header ul.dropdown a {
    display: block;
    color: #fff;
    padding: 10px 24px;
}

.book_discovery_call_2 {
    background-color: #091233;
    padding: 0 0 7.5px 15px;
}

#book_discovery_call {
    padding: 10px 30px 10px 30px;
    border-radius: 7px;
    border: none;
    background-color: #ca041b;
    color: #fff;
    cursor: pointer;
}

#form_section {
    margin: 60px auto 0 auto;
}

.contactus {
    padding: 0px 15px;
    text-align: center;
}

#form_section h1 {
    margin: 10px 0px 5px 0px;
}

#form_section h5 {
    color: #ca041b;
    font-weight: 800;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.col_1,
.col_2,
.col_3,
.col_4 {
    width: 100%;
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
}

.col_5 {
    width: 100%;
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    border-radius: 18px;
    border: none;
    background-color: #ca041b;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    margin: 15px 15px 0 15px;
}

#office_section {
    margin-top: 50px;
    background-color: #e3f0f7;
    padding: 50px 0px 125px 0px;
}

.office_container {
    padding: 0px 15px;
}

#office_section h1 {
    margin-bottom: 5px;
}

#locations {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-top: 50px;
}

.location {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    overflow: hidden;
}

.location_col_2 {
    background-color: #fff;
    padding: 25px 20px 25px 20px;
}

.company {
    margin-top: 20px;
}

.address,
.email {
    margin-top: 10px;
}

.phone {
    margin-top: 30px;
}

footer {
    background-color: #e3f0f7;
}

.footer_menu_social {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}

.footer_menu {
    display: block;
}

.footer_menu a {
    display: block;
    padding: 10px 0px;
    color: #000;
}

.footer_menu li:first-child a {
    padding-top: 0px;
}

.footer_social {
    display: block;
}

.footer_social a {
    display: block;
    padding: 10px 0px;
}

.footer_social li:first-child a {
    padding-top: 0px;
}

hr {
    margin-top: 25px;
    border: 1px solid #66666621;
}

.copyright {
    height: 70px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.disclaimer,
.privacy_policy {
    padding-left: 10px;
    color: #666;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    header nav {
        display: block;
        height: auto;
    }

    .col_1,
    .col_2,
    .col_3,
    .col_4 {
        width: 50%;
    }

    .location {
        grid-template-columns: 2fr 4fr;
    }
}

@media (min-width: 992px) {
    body {
        margin-left: 32px;
        margin-right: 32px;
    }

    .container {
        max-width: 960px;
    }

    span,
    a,
    label,
    button,
    p {
        font-size: 14px;
    }

    /* Navbar section */
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        padding: 0px 15px;
    }

    #logo {
        margin: 0px;
    }

    .hamburger {
        display: none;
    }

    .menulist_discoverycall {
        display: block;
    }

    header ul {
        display: flex;
        background-color: unset;
        padding-top: 0px;
    }

    header ul li {
        padding-bottom: 0px;
    }

    header ul li a {
        padding: 0 10px 0 10px;
        font-weight: 700;
        color: #000;
    }

    header ul li a:hover {
        color: #ca041b;
    }

    .book_discovery_call_2 {
        background-color: unset;
        padding: 0px;
    }

    #form_section>div:first-child {
        width: 70%;
        margin: 0px auto;
    }

    form button {
        padding: 10px 0px;
        width: 100%;
        margin-top: 35px;
    }

    #locations {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_container {
        padding: 0px 15px;
    }

    .footer_menu_social {
        justify-items: unset;
    }

    .footer_menu {
        display: flex;
        justify-content: center;
    }

    .footer_menu a {
        padding: 0px 10px;
    }

    .footer_social {
        display: flex;
        justify-content: end;
    }

    .footer_social a {
        padding: 0px 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}